*{
    color: blueviolet;
}
 
 .one {
        height: 100px;
        width: 300px;
        background-color: red;
    }
    .two {
        height: 100px;
        width: 300px;
        background-color: green;
    }
h1 {
        color: blue;
        font-size: 24px;
    }
    .three {
        height: 100px;
        width: 300px;
        background-color: yellow;
    }

